<div class="navbar-fixed">
	<nav id="main-menu">
		<div class="grey darken-4 nav-wrapper">
		  <a href="#" class="valign-wrapper brand-logo right"><img class="valign" src="../../img/f1_logo.svg"></a>
		  <ul id="nav-mobile" class="left hide-on-med-and-down">
		  	<li><a routerLinkActive="active" [routerLink]="['/inicio']">Inicio</a></li>
		    <li><a routerLinkActive="active" [routerLink]="['/temporadas']">Temporadas</a></li>
		    <li><a routerLinkActive="active" [routerLink]="['/pilotos']">Pilotos</a></li>
		    <li><a routerLinkActive="active" [routerLink]="['/equipos']">Equipos</a></li>
		  </ul>
		</div>
	</nav>
</div>