/* You can add global styles to this file, and also import other style files */
#bread {
	margin: 20px 0px;
	text-transform: capitalize;
	font-size: 18px !important;
}

#bread li a {
	padding: 0px;
}

#bread li a, #bread li {
	font-size: 18px;
	background-color: rgba(0,0,0,0);
	display: inline-block;
}

#bread li:first-child::before {
	display: none;
}

#bread li::before {
	content: '\E5CC';
	color: rgba(255,255,255,0.7);
	vertical-align: top;
	display: inline-block;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	margin: 0 10px 0 8px;
	-webkit-font-smoothing: antialiased;
	float: left;
}